Source: ros-jade-lms1xx
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-rosconsole-bridge, ros-jade-roscpp, ros-jade-roscpp-serialization, ros-jade-sensor-msgs
Homepage: http://ros.org/wiki/LMS1xx
Standards-Version: 3.9.2

Package: ros-jade-lms1xx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-rosconsole-bridge, ros-jade-roscpp, ros-jade-roscpp-serialization, ros-jade-sensor-msgs
Description: The lms1xx package contains a basic ROS driver for the SICK LMS1xx line of LIDARs.
